@page
@model RecipesModel

@if (Model.IsUserLoggedIn())
{
    <div class="text-center mt-3">
        <a asp-page="CreateRecipe" class="btn btn-primary">Create New Recipe</a>
    </div>
    <div style="margin-top: 20px;"></div>
}

<div class="row">

    @foreach (var recipe in Model.Recipes)
    {
        <partial name="RecipeCard" model="recipe" />
    }

</div>

<div class="pagination-container">
    <partial name="_Pagination" model="new { TotalPages = Model.TotalPages, CurrentPage = Model.CurrentPage }" />
</div>