<div class="col-md-6 col-lg-4 mb-4">
    <div class="card">
        <img src="~/images/@Model.ImageURL" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.ShortDescription</p>
            <a href="/Recipes/Recipe?id=@Model.Id" class="btn btn-primary">View Recipe</a>
        </div>
    </div>
</div>
