html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px; /* Adjust the desired height for the image */
}

/* custom-styles.css */

.recipe-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.recipe-details {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-top: 20px;
}

.ingredient-list,
.step-list {
    padding-left: 20px;
}

.recipe-details {
    margin-top: 20px;
    flex-grow: 1;
}

.container-fluid {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}