@page
@using Domain;
@model RecipeModel

<html>
<head>
    <title>@(Model?.Recipe?.Name)</title> <!-- Sets the page title to the name of the recipe -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"> <!-- Adds a link to the Bootstrap CSS library -->
</head>
<body>
    <div class="container-fluid pb-5">

        <div class="row">
            <div class="col-12">
                <div class="recipe-details text-center">

                    <!-- Displays the recipe name -->
                    @{
                        var isUserAuthenticated = User?.Identity?.IsAuthenticated ?? false;
                    }
                    @if (isUserAuthenticated)
                    {
                        <div class="container pb-3">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <h2 class="title-with-padding">@(Model?.Recipe?.Name)</h2>

                                    <!-- Edit button -->
                                    <a asp-page="/UpdateRecipe" asp-route-id="@Model.Recipe.Id" class="btn btn-primary" style="height: 40px;">Edit</a>

                                    <!-- Delete button -->
                                    <form method="post">
                                        <input type="hidden" asp-for="Recipe.Id" />
                                        <button type="submit" class="btn btn-danger" style="height: 40px;" onclick="return confirm('Are you sure you want to delete this recipe?')">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>


                    }

                    <!-- Displays the recipe image -->
                    <img src="~/images/@(Model?.Recipe?.ImageURL)" class="recipe-image mb-4" alt="@Model?.Recipe?.Name">

                    <!-- Displays the recipe description -->
                    <p class="recipe-description">@Model?.Recipe?.Description</p>

                    <div class="row">

                        <div class="col-md-6">
                            <partial name="_RecipeStepsPartial" model="Model?.Recipe?.Steps ?? new List<Step>()" /> <!-- Includes a partial view for displaying recipe steps -->
                        </div>

                        <div class="col-md-6">
                            <partial name="_RecipeIngredientsPartial" model="Model?.Recipe?.Ingredients ?? new List<Ingredient>()" /> <!-- Includes a partial view for displaying recipe ingredients -->
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> <!-- Adds a link to the Bootstrap JavaScript library -->
</body>
</html>